ul{
  list-style-type: none;
  text-decoration: none;
}

nav li{
  display: inline;
}
nav a{
  padding: 5%;
}

nav a:hover{
  text-decoration: none;
}

header h1{
  text-align: center;
}

main{
  width: 80%;
  margin: 0 auto;
}
