body{
  width: 80%;
  margin: 0 auto;

}

#navigation{
    width: 80%;
    margin: 0 auto;

}

#navigation h1, footer p{
    text-align: center;
}

#navigation h1{
    font-family: 'Covered By Your Grace', cursive;

